<div class="container">
<h1><%= @memory.name %></h1>
  <% @bookings.each do |booking| %>
    <li>User: <%= booking.customer.username %></li>
    <li>Booking Status: 
      <%= booking.booking_status.humanize %>  
    </li>
    <li>Start Date: <%= booking.start_date.strftime("%A, %b %d") %></li>

    <% if booking.booking_status == "awaiting_confirmation" %>
      <%= simple_form_for(booking) do |f| %>
        <%= f.hidden_field :booking_status, value: "confirmed" %>
        <%= f.button :submit, 'Approve Booking', id:'btn-green', class:"btn-green" %>
      <% end %>
      <%= simple_form_for(booking) do |f| %>
        <%= f.hidden_field :booking_status, value: "declined" %>
        <%= f.button :submit, 'Decline Booking', id:'btn-pink', class:'btn-pink' %>        
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Back to My Memories", my_memories_path, class:"btn-pink"%>
</div>





