<h1>Memories</h1>
<div class="main-container">
  <%= cl_image_tag("https://res.cloudinary.com/drdoomsday/image/upload/v1606284303/re:live/Screen_Shot_2020-11-25_at_4.44.07_pm_fessxo.png",
      width: 400, height: 300, crop: :fill) %>
  <div class="cards">
    <% @memories.each do |memory| %>
      <div class="card-trip">
        <%= cl_image_tag memory.photo.key, class: 'card-trip-img' %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to memory.name, memory_path(memory)%></h2>
            <p><%= memory.description%></p>
          </div>
          <h2 class="card-trip-pricing">$<%= memory.price%></h2>
            <div class="card-trip-user avatar-bordered">
                <%= cl_image_tag memory.creator.photo.key, class: 'avatar' %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<h4> <%= link_to "Back to home", root_path %> </h4>
