<div class ="container">
  <h2 class ="h2-global">Book a memory today!</h2>
</div>

<div class="main-container">
  <div class="cards">
    <% @memories.each do |memory| %>
      <div class="card-trip">
        <%= cl_image_tag memory.photo_url, class: 'card-trip-img' %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to memory.name, memory_path(memory), class: 'card-link'%></h2>
            <p><%= memory.description%></p>
          </div>
          <h2 class="card-trip-pricing">$<%= memory.price%></h2>
            <div class="card-trip-user avatar-bordered">
                <%= cl_image_tag memory.creator.photo_url, class: 'avatar' %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
