<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="h2-global"> Share your memories</h1>

      <%= simple_form_for([@user, @memory]) do |f| %>
      <%= f.input :name, label_html:{class:"form-label"}%>
      <%= f.input :description, label_html:{class:"form-label"} %>
      <%= f.input :price, label_html:{class:"form-label"} %>
      <%= f.input :duration, label_html:{class:"form-label"} %>
      <%= f.input :location, label_html:{class:"form-label"} %>
      <%= f.input :category, label_html:{class:"form-label"} %>
      <%= f.button :submit, 'Create your Memory', id:'btn-green', class:"btn-green w-100 my-4" %>
      <% end %>
    </div>
  </div>
</div>

