<div class="container">
    <li><%= cl_image_tag @memory.photo_url, height: 300, width: 400, crop: :fill %></li>
    <h2 class="h2-global"><%= @memory.name%></h2>
    <div><%= cl_image_tag @memory.creator.photo_url, class: 'avatar' %> <%= link_to "#{@memory.creator.username}", my_memories_path, class:"card-link"%></div>
    <ul>
        <li>Description: <%= @memory.description %></li>
        <li>Price: $<%= @memory.price %></li>
        <li>Duration: <%= @memory.duration %></li>
        <li>Location: <%= @memory.location %></li>
    </ul>


    <h2>Reviews</h2>
    <% @memory.reviews.each do |review| %>
        <div>
            <p><%= review.booking.customer.username %></p>
            <p><%= review.content %></p>
            <p><%= review.rating %></p>
            <p> <% if current_user == review.booking.customer %>
                    <%= link_to "Destroy Review", review_path(review), method: "delete" %>
            <% end %>
            </p>
        </div>
    <% end %>

    <%= link_to "back to memories", memories_path %>
    <%= link_to "back to home", root_path %>
</div>


<%= simple_form_for([@memory, @booking]) do |f| %>
  <%= f.input :start_date, html5: true %>
  <%= f.submit %>
  <% end %>

