<div class="container">
    <h1> Memory: <%= @memory.name  %></h1>

    <ul>
        <li><%= cl_image_tag @memory.photo.key, height: 300, width: 400, crop: :fill %></li>
        <li>Description: <%= @memory.description %></li>
        <li>Price: $<%= @memory.price %></li>
        <li>Duration: <%= @memory.duration %></li>
        <li>Location: <%= @memory.location %></li>
        <li>Created by:<%= @memory.creator.username %>   <img src="https://puu.sh/GQHkA/223cb682d1.png" class="card-trip-user avatar" /></li>
    </ul>

    <%= link_to "back to memories", memories_path %>
    <%= link_to "back to home", root_path %>
</div>

<%= simple_form_for([@memory, @booking]) do |f| %>
  <%= f.input :start_date, html5: true %>
  <%= f.submit %>
  <% end %>


