<div class="container">
    <h1> Memory: <%= @memory.name  %></h1>

    <ul>
        <li><%= cl_image_tag @memory.photo.key, height: 300, width: 400, crop: :fill %></li>
        <li>Description: <%= @memory.description %></li>
        <li>Price: $<%= @memory.price %></li>
        <li>Duration: <%= @memory.duration %></li>
        <li>Location: <%= @memory.location %></li>
        <li>Created by:<%= @memory.creator.username %>   <%= cl_image_tag @memory.creator.photo.key, class: 'avatar' %></li>
    </ul>


    <h2>Reviews</h2>
    <% @memory.reviews.each do |review| %>
        <div>
            <p><%= review.booking.customer.username %></p>
            <p><%= review.content %></p>
            <p><%= review.rating %></p>
            <p> <% if current_user == review.booking.customer %>
                    <%= link_to "Destroy Review", review_path(review), method: "delete" %>
            <% end %>
            </p>
        </div>
    <% end %>

    <%= link_to "back to memories", memories_path %>
    <%= link_to "back to home", root_path %>
</div>


<%= simple_form_for([@memory, @booking]) do |f| %>
  <%= f.input :start_date, html5: true %>
  <%= f.submit %>
  <% end %>


